@charset "UTF-8";
/* Reset ====================================================================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, th, td, figure { margin: 0; padding: 0; }
img { max-width: 100%; height: auto; border: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
input, button, textarea, select { *font-size: 100%; }
ol, ul, li, menu { list-style: none; }
a { text-decoration: none; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
input, textarea { outline: none; }
section, article, aside, footer, header, nav, main { display: block; }

/* Default ====================================================================*/
html { font-size: 10px; }
body { font-family: Arial, sans-serif; font-size: 1.6rem; line-height: 24px; letter-spacing: 0px; color: #000; overflow-x: hidden; }

.table_scroll { overflow-x: auto; }

header {
    background: #FFF;
    border-bottom: 7px solid #0CA802;
    position: relative;
}
.wrap {
    max-width: 1180px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    clear: both;
}
header .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    z-index: 999;
    width: 100%;
    position: relative;
    background: #ffffff;
}
.menu-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-main li {
    margin: 10px 25px 0 25px;
}
.menu-group {
    position: absolute;
    right: 0;
    margin: 0 10px;
    bottom: calc(100%/2 - 18px);
}
.menu-group a i {
    font-size: 20px;
}
.menu-button {
    position: absolute;
    top: 20px;
    right: 4%;
    border-radius: 4px;
    z-index: 9999;
    display: none;
    width: 45px;
    height: 45px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu_all a {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
.menu_all a:hover {
    color: #a81520;
}

@media all and (min-width: 1025px) { 
    .menu_all {
        display: block !important;
    }
}

@media all and (max-width: 1024px) { 
    header {
        height: 90px;
    }
    header .wrap {
        margin: 0;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 28px;
    }
    .logo img {
        width: 80%;
        margin-left: 5px;
    }
    .menu {
        width: 100%;
    }
    .menu_all {
        width: 100%;
        display: none;
    }
    .menu-main {
        flex-direction: column;
        height: 225px;
        justify-content: normal;
        align-items: normal;
        overflow-y: auto;
        margin-top: 90px;
    }
    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fas.fa-bars,.fas.fa-times {
        font-size: 30px;
        color: #ae0000;
        text-decoration: none;
    }
    .fas.fa-times {
        display: none;
    }
    .menu_all ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #449A3C;
    }
    .menu_all a {
        color: #FFF;
        font-size: 16px;
        font-weight: normal;
    }
    .menu_all a:hover {
        color: #fff000;
    }
    .menu-main li {
        margin: 5px 0;
        font-size: 15px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255,255,255,.4);
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .menu-group {
        position: relative;
        margin: 0;
        bottom: 0;
    }
    .menu-social {
        font-size: 15px;
        padding: 10px 0;
    }
}